body {
    background-image: url(./images/background-sky-with-clouds.jpeg);
    background-size: cover;
    /* background-color: rgb(157, 190, 221); */
    color: white;
    text-shadow: 2px 2px black;
    
}

h1 {
    text-align: center;
    background-color: rgba#ffc107e5;
    font-weight: bolder;
    border-top: 1px solid black;
    border-radius: 3px;
}

h2 {
    background-color: #ffc107;
    border-radius: 3px;
    text-align: center;
}

.search {
    background-color: inherit;
    border: none;
}

.card {
    background-color: inherit;
    border: none;
    text-align: center;
}

.form {
    background-color: inherit;
}

.current {
    flex: 1 1 0%;
}

